<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8" />
    <meta name="author" content="Financial Paradise" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="csrf-token" content="zEBJyNHftjFYgGuR9JrCVVVvubSOS00xthjnftSo">
    <title>Financial Paradise | Home - It's Over 9000!</title>
<meta name="description" content="Financial Paradise is a financial technology company that provides advanced and relevant technology in the financial industry. ">
<meta name="keywords" content="Financial Paradise">
<meta property="og:description" content="Financial Paradise is a financial technology company that provides advanced and relevant technology in the financial industry. " />
<meta property="og:title" content="Financial Paradise | Home" />
<meta property="og:locale" content="en-us" />
<meta property="og:image" content="http://financial-paradise.com/images/og-images/home.jpg" />
<meta property="og:image:height" content="900" />
<meta property="og:image:width" content="1200" />


<script type="application/ld+json">{"@context":"https://schema.org","@type":"WebPage","name":"Financial Paradise | Home","description":"Financial Paradise is a financial technology company that provides advanced and relevant technology in the financial industry. "}</script>
    <title>Financial Paradise</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="icon" type="image/icon" href="http://financial-paradise.com/images/logo.png"> <!-- favicon-icon -->
    <link rel="stylesheet" href="http://financial-paradise.com/css/website.css">
    </head>
    <style>
         section      
        img {
          float: left;
        }
        </style>
<!-- end head -->

<!-- body start-->
<body class="green-skin" >
<div id="app"> <!--  to enable rendering of vue components -->

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="preloader">
        <div class="preloader">
            <img height="70px" src="/images/logo.png" class="animate__animated  animate__flip animate__infinite" alt="">
        </div>
    </div>


    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
<!-- Start Navigation -->
<div class="header header-light">
    <div class="container">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
                <a class="nav-brand text-green" href="/">
                    <img src="http://financial-paradise.com/images/logo.png" height="60px" class="logo" alt="Financial Paradise" />
                    <b>Financial Paradise</b>
                </a>
                <div class="nav-toggle"></div>
            </div>
            <div class="nav-menus-wrapper" style="transition-property: none;">

                <ul class="nav-menu nav-menu-social  ">
                    <li class="active">
                        <a href="#">Why Financial Paradise<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="why-financial-paradise-loanofficer.html">Loan Officer</a></li>
                            <li><a href="why-financial-paradise-riskmanager.html">Risk Manager</a></li>
                            <li><a href="why-financial-paradise-coo.html"> COO</a></li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#">Products <span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="products-response-scoring.html">Response Scoring</a></li>
                            <li><a href="products-application-scoring.html">Application Scoring</a></li>
                            <li><a href="products-behavioral-scoring.html"> Behavioral Scoring</a></li>
                            <li><a href="products-retention-scoring.html"> Retention Scoring</a></li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#">Resources<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="resources-articles.html"> Articles</a></li>
                            <li><a href="resources-research-papers.html">Research Papers</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">About Us<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="about-us-why.html">Why</a></li>
                            <li><a href="about-us-our-mission-and-vision.html">Our Vision and Mission</a></li>
                            <li><a href="about-us-our-values-and-ethics.html">Our Values and Ethics</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="contact-us.html">Contact Us</a>
                    </li>


                    <li class="login_click light nav-btn  ">
                        <a href="#" data-toggle="modal" data-target="#login">Sign in</a>
                    </li>

                    <!-- <li class="login_click bg-green nav-btn ">
                        <a href="#" data-toggle="modal" data-target="#signup">Sign up</a>
                    </li> -->
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- End Navigation -->
<div class="clearfix"></div>
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->

            <!-- ============================ Hero Banner  Start================================== -->
            <!-- Type -->
            <div class="image-cover hero_banner shadow mt--100  bg-light" style="min-height: 50vh !important;">
                <div class="container">
                    <!-- Type -->
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="banner-search-2 transparent">
                                <h1 class="big-header-capt cl_2 mb-0">Why we are here?</h1>
                                <p>Most Financial Institutions struggle to profitably connect and manage their new & old clients’ risk and value. We provide with an Artificial Intelligence-based platform that allows them to deeply engage, retain and grow their customers and revenue with less risk.</p>
                            </div>
                        </div>
        
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="circle_flixio">
                                <img class="rotate img-fluid" src="http://financial-paradise.com/images/circle.png" alt="">
                            </div>
                            <div class="circle_flixio">
                                <img class="img-fluid" src="http://financial-paradise.com/images/circle.png" alt="">
                            </div>
                            <div class="flixio">
                                <img class="img-fluid" src="https://lh3.googleusercontent.com/nZACDd8PklhPaySAta7s9Zqv8LlAii-KAH_fpuw5EkAyYFoYqvrh5BEaw3Xg7CSciQ_Z7mKpIYWDTkszxjAT343jl7QTh4fILHbcSuQY_CYyr0dj6COQuagYklB1CaG_L-0SDLdm6jI=w2400" alt="">
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        <section>
            
            <div class="image-cover hero_banner shadow mt--100  bg-light" style="min-height: 50vh !important;">
                <div class="container">
                    <!-- Type -->
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="banner-search-2 transparent">
                                <p>On the other hand, there is a genuine lack of financial services for a large proportion of Zimbabwe’s poor and low-income individuals, as well as small and informal businesses that do not fit the mainstream financial profile. A large proportion of people and small businesses struggle to get access to valuable financial service so we created a convenient and hustle free platform that allows every individual to create wealth and live sustainably the way they want.</p>
                            </div>
                        </div>
        
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <!-- <div class="square_flixio">
                                <img class="rotate img-fluid" src="http://financial-paradise.com/images/circle.png" alt="">
                            </div>
                            <div class="circle_flixio">
                                <img class="img-fluid" src="http://financial-paradise.com/images/circle.png" alt="">
                            </div> -->
                           
                            <div class="flixio">
                                <img class="img-fluid" src="https://lh3.googleusercontent.com/q7KE8q09rPaY5LmpzXJcoUJyKLch3pQSA2kWfiXKfRHBPCibTdZ_O5OcjWErqaexLZxQ1EYXYI7HoxyqLyYV6FJb6oOvLdKLm4ETPG0bmWwO-YF9ZLE71KEGlvSf6BXcNO7z0jAGAUc=w2400" alt="">
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </section>
            <!-- <div class="image-cover hero_banner shadow mt--50  bg-light" style="min-height: 50vh !important;"> -->
                <div class="container">
                    <!-- Type -->
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="banner-search-2 transparent">
                                <p>We are creating an intelligent financial marketplace that connects the individuals or small businesses with the financial institutions. The marketplace make use of Artificial Intelligence (AI), data science, and behavioral psychology.</p>
                            </div>
                        </div>
        
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="circle_flixio">
                                <img class="rotate img-fluid" src="http://financial-paradise.com/images/circle.png" alt="">
                            </div>
                            <div class="circle_flixio">
                                <img class="img-fluid" src="http://financial-paradise.com/images/circle.png" alt="">
                            </div>
                            <div class="flixio">
                                <img class="img-fluid" src="https://lh3.googleusercontent.com/fV18FnIPsc1V73ioyOSucOPmjDoduq8KRwuMxVIMkZDO84o7j5A1ppeN5nnIeaUvhn3gqtajsgdkFq7mbljHHoaG8QhGtVxDbD80w9cdGsBZja8E-mjNYHXR9MKKeUe5_ahmBT1pao4=w2400" alt="">
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
                        <!-- ============================ Hero Banner  End================================== -->

                         <!-- ============================== Start Newsletter ================================== -->
<section class="bg-cover newsletter inverse-theme" style="background:url(http://financial-paradise.com/imgages/testimonial.png);" data-overlay="9">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8 col-sm-12">
                <div class="text-center">
                    <h2>Join Thousand of Happy Clients!</h2>
                    <p>Subscribe our newsletter & get latest news and updation!</p>
                    <form class="sup-form">
                        <input type="email" class="form-control sigmup-me" placeholder="Your Email Address" required="required">
                        <input type="submit" class="btn btn-theme" value="Get Started">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= End Newsletter =============================== -->

        <!-- ============================ Footer Start ================================== -->
<footer class="dark-footer skin-dark-footer">
    <div>
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-3">
                    <div class="footer-widget">
                        <img src="http://financial-paradise.com/images/footer-logo.png" class="img-footer" alt="" />
                        <div class="footer-add text-white">
                            <p>
                                First Floor, Batanai Gardens <br>
                                Cnr First & Jason Moyo
                            </p>
                            <p>info@financial-paradise.com</p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 col-md-3">
                    <div class="footer-widget">
                        <h4 class="widget-title">New Categories</h4>
                        <ul class="footer-menu">
                            <li><a href="#">Designing</a></li>
                            <li><a href="#">Nusiness</a></li>
                            <li><a href="#">Software</a></li>
                            <li><a href="#">WordPress</a></li>
                            <li><a href="#">PHP</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3">
                    <div class="footer-widget">
                        <h4 class="widget-title">Help & Support</h4>
                        <ul class="footer-menu">
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Live Chat</a></li>
                            <li><a href="#">Mail Us</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Faqs</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12">
                    <div class="footer-widget">
                        <h4 class="widget-title">Recent Articles</h4>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p class="mb-0">© 2022 Financial Paradise. Designd By <a target="_blank" href="http://emmanuelsiziba.co.zw">Emmanuel Siziba</a>.</p>
                </div>
                <div class="col-lg-6 col-md-6 text-right">
                    <ul class="footer-bottom-social">
                        <li><a href="#"><i class="mdi mdi-18px mdi-facebook"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-18px mdi-twitter"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-18px mdi-instagram"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-18px mdi-linkedin"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- ============================ Footer End ================================== -->


        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="mdi mdi-18px mdi-arrow-up"></i></a>
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
</div>

<script src="http://financial-paradise.com/js/website.js"></script>

</body>
<!-- body end -->
</html>