<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8" />
    <meta name="author" content="Financial Paradise" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="csrf-token" content="JhRW8IgDwBbJb9pPA1oE7ToiMzvQTYDH1RxZBNdm">
    <title>Financial Paradise | Home - It's Over 9000!</title>
<meta name="description" content="Financial Paradise is a financial technology company that provides advanced and relevant technology in the financial industry. ">
<meta name="keywords" content="Financial Paradise">
<meta property="og:description" content="Financial Paradise is a financial technology company that provides advanced and relevant technology in the financial industry. " />
<meta property="og:title" content="Financial Paradise | Home" />
<meta property="og:locale" content="en-us" />
<meta property="og:image" content="http://financial-paradise.com/images/og-images/home.jpg" />
<meta property="og:image:height" content="900" />
<meta property="og:image:width" content="1200" />


<script type="application/ld+json">{"@context":"https://schema.org","@type":"WebPage","name":"Financial Paradise | Home","description":"Financial Paradise is a financial technology company that provides advanced and relevant technology in the financial industry. "}</script>
    <title>Financial Paradise</title>
    <link rel="icon" type="image/icon" href="http://financial-paradise.com/images/logo.png"> <!-- favicon-icon -->
    <link rel="stylesheet" href="http://financial-paradise.com/css/website.css">
    </head>
<!-- end head -->

<!-- body start-->
<body class="green-skin" >
<div id="app"> <!--  to enable rendering of vue components -->

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="preloader">
        <div class="preloader">
            <img height="70px" src="/images/logo.png" class="animate__animated  animate__flip animate__infinite" alt="">
        </div>
    </div>


    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
<!-- Start Navigation -->
<div class="header header-light">
    <div class="container">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
                <a class="nav-brand text-green" href="/">
                    <img src="http://financial-paradise.com/images/logo.png" height="60px" class="logo" alt="Financial Paradise" />
                    <b>Financial Paradise</b>
                </a>
                <div class="nav-toggle"></div>
            </div>
            <div class="nav-menus-wrapper" style="transition-property: none;">

                <ul class="nav-menu nav-menu-social  ">
                    <li class="active">
                        <a href="#">Why Financial Paradise<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="why-financial-paradise-loanofficer.html">Loan Officer</a></li>
                            <li><a href="why-financial-paradise-riskmanager.html">Risk Manager</a></li>
                            <li><a href="why-financial-paradise-coo.html"> COO</a></li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#">Products <span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="products-response-scoring.html">Response Scoring</a></li>
                            <li><a href="products-application-scoring.html">Application Scoring</a></li>
                            <li><a href="products-behavioral-scoring.html"> Behavioral Scoring</a></li>
                            <li><a href="products-retention-scoring.html"> Retention Scoring</a></li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#">Resources<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="resources-articles.html"> Articles</a></li>
                            <li><a href="resources-research-papers.html">Research Papers</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">About Us<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="about-us-why.html">Why</a></li>
                            <li><a href="about-us-our-mission-and-vision.html">Our Vision and Mission</a></li>
                            <li><a href="about-us-our-values-and-ethics.html">Our Values and Ethics</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#Contact">Contact Us</a>
                    </li>


                    <!-- <li class="login_click bg-green nav-btn ">
                        <a href="#" data-toggle="modal" data-target="#signup">Sign up</a>
                    </li> -->
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- End Navigation -->
<div class="clearfix"></div>
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->

            <!-- ============================ Hero Banner  Start================================== -->
    <div class="image-cover hero_banner shadow mt--100  bg-light" style="min-height: 50vh !important;">
        <div class="container">
            <!-- Type -->
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="banner-search-2 transparent">
                        <h1 class="big-header-capt cl_2 mb-0">Invest in<br><span>Modern Tech</span></h1>
                        <p>Using modern technologies to solve modern problems, with the goal to create prosperity for all.</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="circle_flixio">
                        <img class="rotate img-fluid" src="http://financial-paradise.com/images/rotateing.png" alt="">
                    </div>
                    <div class="circle_flixio">
                        <img class="img-fluid" src="http://financial-paradise.com/images/circle.png" alt="">
                    </div>
                    <div class="flixio">
                        <img class="img-fluid" src="http://financial-paradise.com/images/hero.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- ============================ Hero Banner End ================================== -->

    <!-- ============================ Trips Facts Start ================================== -->
    <section class="p-0 trips_top mt--75">
        <div class="container">
            <div class="trips_wrap">
                <div class="row m-0">

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="trips">
                            <div class="trips_icons">
                                <i class="mdi mdi-24px mdi-calendar-clock"></i>
                            </div>
                            <div class="trips_detail">
                                <h4>24/7 Support</h4>
                                <p>Our support team is always ready to attent to your Queries</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="trips">
                            <div class="trips_icons">
                                <i class="mdi mdi-24px mdi-license"></i>
                            </div>
                            <div class="trips_detail">
                                <h4>Customizable Licence Terms</h4>
                                <p>We offer licences according to your organizational needs</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="trips none">
                            <div class="trips_icons">
                                <i class="mdi mdi-24px mdi-infinity"></i>
                            </div>
                            <div class="trips_detail">
                                <h4>Lifetime access</h4>
                                <p>For all public users and individuals</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ============================ Trips Facts Start ================================== -->

    <!-- ========================== About Facts List Section =============================== -->
    <section>
        <div class="container">

            <div class="row ">

                <div class="col-lg-6 col-md-6 col-sm-12 animate__animated animate__zoomIn">
                    <div class="list_facts_wrap">
                        <div class="sec-heading mb-3">
                            <h2>Financial <span class="theme-cl">Paradise</span> </h2>
                            <p>Financial Paradise is a financial technology company that provides advanced and relevant technology in the financial industry.</p>
                        </div>
                        <div class="list_facts">
                            <div class="list_facts_icons"><i class="mdi mdi-magnify-scan mdi-18px"></i></div>
                            <div class="list_facts_caption">
                                <h4>Our Vision</h4>
                                <p>A world where every individual and organisation has the power and chance to create their prosperity.</p>
                            </div>
                        </div>
                        <div class="list_facts">
                            <div class="list_facts_icons"><i class="mdi mdi-18px mdi-target-variant"></i></div>
                            <div class="list_facts_caption">
                                <h4>Our Mission</h4>
                                <p>To provide advanced and relevant technology that helps every individual and organisation to create their prosperity</p>
                            </div>
                        </div>
                        <div class="list_facts">
                            <div class="list_facts_icons"><i class="mdi mdi-18px mdi-safe-square-outline"></i></div>
                            <div class="list_facts_caption">
                                <h4>Our Values & Ethics</h4>
                                <p>We believe in thinking in other terms. We see and think differently. We appro...</p>
                            </div>
                        </div>

                    </div>
                    <a href="/about" class="btn btn-modern green">Know More<span><i class="ti-arrow-right"></i></span></a>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 animate__animated animate__zoomIn align-items-center">
                    <div class="list_facts_wrap_img">

                        <div class="circle_flixio">
                            <img class="img-fluid" src="http://financial-paradise.com/images/circle.png" alt="Our Values">
                        </div>
                        <div class="flixio">
                            <img src=" http://financial-paradise.com/images/behav.png" class="img-fluid" alt="Our Values" />
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- ========================== About Facts List Section =============================== -->


    <!-- ========================== Featured Category Section =============================== -->
    <section class="bg-light">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="sec-heading center">
                        <p>In solving financial problems we broght the following features</p>
                        <h2><span class="theme-cl">Features</span> </h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="edu_cat_2 cat-1">
                        <div class="edu_cat_icons">
                            <a class="pic-main" href="#">
                                <i class="mdi mdi-account-cash-outline mdi-48px"></i>
                            </a>
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title">
                                Credit History
                            </h4>
                            <ul class="meta">
                                <li class="video">
                                    <a href="#">
                                        Read More
                                        <i class="mdi mdi-chevron-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="edu_cat_2 cat-2">
                        <div class="edu_cat_icons">
                            <i class="mdi mdi-shield-check-outline mdi-48px"></i>
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title">Safe & Secure</h4>
                            <ul class="meta">
                                <li class="video">
                                    <a href="#">
                                        Read More
                                        <i class="mdi mdi-chevron-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="edu_cat_2 cat-3">
                        <div class="edu_cat_icons">
                            <i class="mdi mdi-cash-usd-outline mdi-48px"></i>
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title"><a href="#">Loan Management</a></h4>
                            <ul class="meta">
                                <li class="video">
                                    <a href="#">
                                        Read More
                                        <i class="mdi mdi-chevron-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="edu_cat_2 cat-4">
                        <div class="edu_cat_icons">
                            <i class="mdi mdi-chart-bar-stacked mdi-48px"></i>
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title">Loan Application Scoring</h4>
                            <ul class="meta">
                                <li class="video">
                                    <a href="#">
                                        Read More
                                        <i class="mdi mdi-chevron-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="edu_cat_2 cat-10">
                        <div class="edu_cat_icons">
                            <i class="mdi mdi-chart-areaspline mdi-48px"></i>
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title"><a href="#">Loan Behavioral Predictions</a></h4>
                            <ul class="meta">
                                <li class="video">
                                    <a href="#">
                                        Read More
                                        <i class="mdi mdi-chevron-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="edu_cat_2 cat-6">
                        <div class="edu_cat_icons">
                            <i class="mdi mdi-chart-bell-curve mdi-48px"></i>
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title">
                                Loan Retention Prediction
                            </h4>
                            <ul class="meta">
                                <li class="video">
                                    <a href="#">
                                        Read More
                                        <i class="mdi mdi-chevron-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="edu_cat_2 cat-7">
                        <div class="edu_cat_icons">
                            <i class="mdi mdi-clipboard-file-outline mdi-48px"></i>
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title">
                                Automated Accounting
                            </h4>
                            <ul class="meta">
                                <li class="video">
                                    <a href="#">
                                        Read More
                                        <i class="mdi mdi-chevron-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="edu_cat_2 cat-8">
                        <div class="edu_cat_icons">
                            <i class="mdi mdi-desktop-mac-dashboard mdi-48px"></i>
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title">
                                Analytics Dashboards
                            </h4>
                            <ul class="meta">
                                <li class="video">
                                    <a href="#">
                                        Read More
                                        <i class="mdi mdi-chevron-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="edu_cat_2 cat-9">
                        <div class="edu_cat_icons">
                            <i class="mdi mdi-home-city-outline mdi-48px"></i>
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title">
                                Loan Access to All
                            </h4>
                            <ul class="meta">
                                <li class="video">
                                    <a href="#">
                                        Read More
                                        <i class="mdi mdi-chevron-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ========================== Featured Category Section =============================== -->
    <!-- ============================ Testimonial Start ================================== -->
    <section style="background:url(http://financial-paradise.com/images/testimonial.png)">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="sec-heading center">
                        <p>What People Say?</p>
                        <h2><span class="theme-cl">Testimonials</span> By Our Clients</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="testimonials_style" class="slick-carousel-3 arrow_middle">
                        <div class="testimonial-detail">
                            <div class="client-detail-box">
                                <div class="pic">
                                    <img src="https://via.placeholder.com/500x500" alt="">
                                </div>
                                <div class="client-detail">
                                    <h3 class="testimonial-title">Adam Alloriam</h3>
                                    <span class="post">Web Developer</span>
                                </div>
                            </div>
                            <p class="description">
                                " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam eligendi facilis itaque minus non odio, quaerat ullam unde  unde voluptatum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi. "
                            </p>
                        </div>

                        <div class="testimonial-detail">
                            <div class="client-detail-box">
                                <div class="pic">
                                    <img src="https://via.placeholder.com/500x500" alt="">
                                </div>
                                <div class="client-detail">
                                    <h3 class="testimonial-title">Illa Millia</h3>
                                    <span class="post">Project Manager</span>
                                </div>
                            </div>
                            <p class="description">
                                " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum eligendi facilis itaque minus non odio, quaerat ullam unde  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi."
                            </p>
                        </div>

                        <div class="testimonial-detail">
                            <div class="client-detail-box">
                                <div class="pic">
                                    <img src="https://via.placeholder.com/500x500" alt="">
                                </div>
                                <div class="client-detail">
                                    <h3 class="testimonial-title">Rout Millance</h3>
                                    <span class="post">Web Designer</span>
                                </div>
                            </div>
                            <p class="description">
                                " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi."
                            </p>
                        </div>

                        <div class="testimonial-detail">
                            <div class="client-detail-box">
                                <div class="pic">
                                    <img src="https://via.placeholder.com/500x500" alt="">
                                </div>
                                <div class="client-detail">
                                    <h3 class="testimonial-title">williamson</h3>
                                    <span class="post">Web Developer</span>
                                </div>
                            </div>
                            <p class="description">
                                " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum eligendi facilis itaque minus non odio, quaerat ullam unde ? "
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ============================ Testimonial End ================================== -->

    <!-- ============================== Start Newsletter ================================== -->
<section class="bg-cover newsletter inverse-theme" style="background:url(http://financial-paradise.com/imgages/testimonial.png);" data-overlay="9">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8 col-sm-12">
                <div class="text-center">
                    <h2>Join Thousand of Happy Students!</h2>
                    <p>Subscribe our newsletter & get latest news and updation!</p>
                    <form class="sup-form">
                        <input type="email" class="form-control sigmup-me" placeholder="Your Email Address" required="required">
                        <input type="submit" class="btn btn-theme" value="Get Started">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= End Newsletter =============================== -->

        <!-- ============================ Footer Start ================================== -->
<footer class="dark-footer skin-dark-footer">
    <div id = "Contact">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-3">
                    <div class="footer-widget">
                        <img src="http://financial-paradise.com/images/footer-logo.png" class="img-footer" alt="" />
                        <div class="footer-add text-white">
                            <p>
                                First Floor, Batanai Gardens <br>
                                Cnr First & Jason Moyo
                            </p>
                            <p>info@financial-paradise.com</p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 col-md-3">
                    <div class="footer-widget">
                        <h4 class="widget-title">New Categories</h4>
                        <ul class="footer-menu">
                            <li><a href="#">Designing</a></li>
                            <li><a href="#">Nusiness</a></li>
                            <li><a href="#">Software</a></li>
                            <li><a href="#">WordPress</a></li>
                            <li><a href="#">PHP</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3">
                    <div class="footer-widget">
                        <h4 class="widget-title">Help & Support</h4>
                        <ul class="footer-menu">
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Live Chat</a></li>
                            <li><a href="#">Mail Us</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Faqs</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12">
                    <div class="footer-widget">
                        <h4 class="widget-title">Recent Articles</h4>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p class="mb-0">© 2022 Financial Paradise. Designd By <a target="_blank" href="http://emmanuelsiziba.co.zw">Emmanuel Siziba</a>.</p>
                </div>
                <div class="col-lg-6 col-md-6 text-right">
                    <ul class="footer-bottom-social">
                        <li><a href="#"><i class="mdi mdi-18px mdi-facebook"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-18px mdi-twitter"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-18px mdi-instagram"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-18px mdi-linkedin"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- ============================ Footer End ================================== -->


        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="mdi mdi-18px mdi-arrow-up"></i></a>
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
</div>

<script src="http://financial-paradise.com/js/website.js"></script>

</body>
<!-- body end -->
</html>