<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8" />
    <meta name="author" content="Financial Paradise" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="csrf-token" content="zEBJyNHftjFYgGuR9JrCVVVvubSOS00xthjnftSo">
    <title>Financial Paradise | Home - It's Over 9000!</title>
<meta name="description" content="Financial Paradise is a financial technology company that provides advanced and relevant technology in the financial industry. ">
<meta name="keywords" content="Financial Paradise">
<meta property="og:description" content="Financial Paradise is a financial technology company that provides advanced and relevant technology in the financial industry. " />
<meta property="og:title" content="Financial Paradise | Home" />
<meta property="og:locale" content="en-us" />
<meta property="og:image" content="http://financial-paradise.com/images/og-images/home.jpg" />
<meta property="og:image:height" content="900" />
<meta property="og:image:width" content="1200" />


<script type="application/ld+json">{"@context":"https://schema.org","@type":"WebPage","name":"Financial Paradise | Home","description":"Financial Paradise is a financial technology company that provides advanced and relevant technology in the financial industry. "}</script>
    <title>Financial Paradise</title>
    <link rel="icon" type="image/icon" href="http://financial-paradise.com/images/logo.png"> <!-- favicon-icon -->
    <link rel="stylesheet" href="http://financial-paradise.com/css/website.css">
    </head>
<!-- end head -->

<!-- body start-->
<body class="green-skin" >
<div id="app"> <!--  to enable rendering of vue components -->

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="preloader">
        <div class="preloader">
            <img height="70px" src="/images/logo.png" class="animate__animated  animate__flip animate__infinite" alt="">
        </div>
    </div>


    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
<!-- Start Navigation -->
<div class="header header-light">
    <div class="container">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
                <a class="nav-brand text-green" href="/">
                    <img src="http://financial-paradise.com/images/logo.png" height="60px" class="logo" alt="Financial Paradise" />
                    <b>Financial Paradise</b>
                </a>
                <div class="nav-toggle"></div>
            </div>
            <div class="nav-menus-wrapper" style="transition-property: none;">

                <ul class="nav-menu nav-menu-social  ">
                    <li class="active">
                        <a href="#">Why Financial Paradise<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="why-financial-paradise-loanofficer.html">Loan Officer</a></li>
                            <li><a href="why-financial-paradise-riskmanager.html">Risk Manager</a></li>
                            <li><a href="why-financial-paradise-coo.html"> COO</a></li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#">Products <span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="products-response-scoring.html">Response Scoring</a></li>
                            <li><a href="products-application-scoring.html">Application Scoring</a></li>
                            <li><a href="products-behavioral-scoring.html"> Behavioral Scoring</a></li>
                            <li><a href="products-retention-scoring.html"> Retention Scoring</a></li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#">Resources<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="resources-articles.html"> Articles</a></li>
                            <li><a href="resources-research-papers.html">Research Papers</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">About Us<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="about-us-why.html">Why</a></li>
                            <li><a href="about-us-our-mission-and-vision.html">Our Vision and Mission</a></li>
                            <li><a href="about-us-our-values-and-ethics.html">Our Values and Ethics</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#Contact">Contact Us</a>
                    </li>

                    <li class="login_click light nav-btn  ">
                        <a href="#" data-toggle="modal" data-target="#login">Sign in</a>
                    </li>

                    <!-- <li class="login_click bg-green nav-btn ">
                        <a href="#" data-toggle="modal" data-target="#signup">Sign up</a>
                    </li> -->
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- End Navigation -->
<div class="clearfix"></div>
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->

            <!-- ============================ Hero Banner  Start================================== -->
            <!-- Type -->
                            <section class="building-block building-block--hero building-block--padding-top- building-block--padding-bottom-"><div class="wrapper wrapper--">
                                <div class="building-block__body"><section class="hero hero-- hero--left hero--image">
                                    <div class="hero__content"><h1 class="hero__eyebrow building-block__title">Why Invest in an Automated Credit Scoring Platform</h1>
                                        <h2 class="hero__title heading--semi-huge building-block__title">1.	Operational efficiency gains</h2>
                                        <div class="hero__text"><p>a.	Reduce customer turnaround with fewer in-person interactions <br>b.	Lower administrative costs per unit <br>c.	Lower the number of in-person interactions with prospective borrowed </p> </div>
                        <div class="hero__image hero__image--hasfg">
                            <div class="hero__image__main__wrap">
                                <img data-sal="zoom-out" data-sal-delay="300" data-sal-easing="ease" data-sal-duration="2000" class="hero__image__main sal-animate lazyloaded" data-src="https://photos.app.goo.gl/XPsP2bAo9RmDbbxM6" alt="" src="https://photos.app.goo.gl/XPsP2bAo9RmDbbxM6"></div>
                                <img class="lazyload hero__image__fg" data-src="https://photos.app.goo.gl/XPsP2bAo9RmDbbxM6" alt="" src="https://photos.app.goo.gl/XPsP2bAo9RmDbbxM6"></div></section></div></div></section>
                        <section class="building-block building-block--text_image building-block--padding-top- building-block--padding-bottom-">
                            <div class="wrapper wrapper--">
                                <div class="building-block__body">
                                <div class="text-image text-image--3 text-image--alt">
                                    <div class="text-image__item">
                                        <div class="text-image__image text-image__image--default">
                                            <img src="https://photos.app.goo.gl/XPsP2bAo9RmDbbxM6" class="lazyload" alt=""src="https://photos.app.goo.gl/XPsP2bAo9RmDbbxM6"></div>
                                            <div class="text-image__text"><h3 class="heading--lg text-image__title building-block__title">2.	Improved accuracy of credit decisions (targeted lending based on default probability)</h3><div class="wysiwyg-editor"><p>a.	Minimize rejection of creditworthy applicants <br> b.	Maximize rejection of high-risk applicants</p>
                        </div>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0214844 3.9502H15.1727V5.97036H0.0214844V3.9502Z" fill="#C942AD"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5243 4.94959L13.4751 0L11.6535 1.78568L14.9175 4.98534L11.5871 8.25008L13.3722 10L18.5243 4.94959Z" fill="#C942AD"/>
                        </svg>
                        </a></div></div></div><div class="text-image__item"><div class="text-image__image text-image__image--default"><img data-src="https://blend.com/wp-content/uploads/2021/03/HoM_ValueProp_2.png" class="lazyload" alt="" /></div><div class="text-image__text"><h3 class="heading--lg text-image__title building-block__title">3.	Establishment of an objective and standardized data-driven decision-making culture</h3><div class="wysiwyg-editor"><p> a.	Apply base objective and consistent decision making on empirical evidence from different risk factors and data points.<br>b.	Standardize criteria for decision making<br>c.	Minimize room for human error or bias</p>
                        </div>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0214844 3.9502H15.1727V5.97036H0.0214844V3.9502Z" fill="#C942AD"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5243 4.94959L13.4751 0L11.6535 1.78568L14.9175 4.98534L11.5871 8.25008L13.3722 10L18.5243 4.94959Z" fill="#C942AD"/>
                        </svg>
                        </a></div></div></div><div class="text-image__item"><div class="text-image__image text-image__image--default"><img data-src="https://blend.com/wp-content/uploads/2021/03/HoM_ValueProp_3.png" class="lazyload" alt="" /></div><div class="text-image__text"><h3 class="heading--lg text-image__title building-block__title">4.	Loan uptake effectiveness</h3><div class="wysiwyg-editor"><p>a.	Target loan products to increase conversion rate </p>
                        </div>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0214844 3.9502H15.1727V5.97036H0.0214844V3.9502Z" fill="#C942AD"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5243 4.94959L13.4751 0L11.6535 1.78568L14.9175 4.98534L11.5871 8.25008L13.3722 10L18.5243 4.94959Z" fill="#C942AD"/>
                        </svg>
                        </a></div></div></div></div></div></div>
                        <div class="text-image__item"><div class="text-image__image text-image__image--default"><img data-src="https://blend.com/wp-content/uploads/2021/03/HoM_ValueProp_3.png" class="lazyload" alt="" /></div><div class="text-image__text"><h3 class="heading--lg text-image__title building-block__title">5.	Customer satisfaction improvement (faster, more targeted loans)</h3><div class="wysiwyg-editor"><p>a.	Reduce customer turnaround<br>b.	Pre-approve specific products, upgrades, and cross-sells<br>c.	Low customer acquisition costs</p>
                        </div> 
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0214844 3.9502H15.1727V5.97036H0.0214844V3.9502Z" fill="#C942AD"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5243 4.94959L13.4751 0L11.6535 1.78568L14.9175 4.98534L11.5871 8.25008L13.3722 10L18.5243 4.94959Z" fill="#C942AD"/>
                        </svg>
                        </a></div></div></div></div></div></div>
                        <div class="text-image__item"><div class="text-image__image text-image__image--default"><img data-src="https://blend.com/wp-content/uploads/2021/03/HoM_ValueProp_3.png" class="lazyload" alt="" /></div><div class="text-image__text"><h3 class="heading--lg text-image__title building-block__title">6.	Enhance Customer Relationships and Experience</h3><div class="wysiwyg-editor"><p>a.	Reduction in customer attrition rates<br>b.	Assign credit limits based on risk level<br>c.	Price loan products based on risk level<br> d.	Adjust terms and shorten repayment schedules<br>e.	Monitor the customer repayment process through risk alerts from the system<br>f.	Offer additional products and upgrades<br>g.	Offer automated renewals for specific products<br> h.	Prequalify customers for new products or cross-sell products<br>i.	Quantify present and future customer lifetime value
                             </p>
                        </div>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0214844 3.9502H15.1727V5.97036H0.0214844V3.9502Z" fill="#C942AD"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5243 4.94959L13.4751 0L11.6535 1.78568L14.9175 4.98534L11.5871 8.25008L13.3722 10L18.5243 4.94959Z" fill="#C942AD"/>
                       
                    </section>
            
                         <!-- ============================== Start Newsletter ================================== -->
<section class="bg-cover newsletter inverse-theme" style="background:url(http://financial-paradise.com/imgages/testimonial.png);" data-overlay="9">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8 col-sm-12">
                <div class="text-center">
                    <h2>Join Thousand of Happy Clients!</h2>
                    <p>Subscribe our newsletter & get latest news and updation!</p>
                    <form class="sup-form">
                        <input type="email" class="form-control sigmup-me" placeholder="Your Email Address" required="required">
                        <input type="submit" class="btn btn-theme" value="Get Started">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= End Newsletter =============================== -->

        <!-- ============================ Footer Start ================================== -->
<footer class="dark-footer skin-dark-footer">
    <div id = "Contact">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-3">
                    <div class="footer-widget">
                        <img src="http://financial-paradise.com/images/footer-logo.png" class="img-footer" alt="" />
                        <div class="footer-add text-white">
                            <p>
                                First Floor, Batanai Gardens <br>
                                Cnr First & Jason Moyo
                            </p>
                            <p>info@financial-paradise.com</p>
                        </div>

                    </div>
                </div>

                <!-- <div class="col-lg-3 col-md-3">
                    <div class="footer-widget">
                        <h4 class="widget-title">New Categories</h4>
                        <ul class="footer-menu">
                            <li><a href="#">Designing</a></li>
                            <li><a href="#">Nusiness</a></li>
                            <li><a href="#">Software</a></li>
                            <li><a href="#">WordPress</a></li>
                            <li><a href="#">PHP</a></li>
                        </ul>
                    </div>
                </div> -->

                <div class="col-lg-3 col-md-3">
                    <div class="footer-widget">
                        <h4 class="widget-title">Help & Support</h4>
                        <ul class="footer-menu">
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Live Chat</a></li>
                            <li><a href="#">Mail Us</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Faqs</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12">
                    <div class="footer-widget">
                        <h4 class="widget-title">Recent Articles</h4>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p class="mb-0">© 2022 Financial Paradise. Designd By <a target="_blank" href="http://emmanuelsiziba.co.zw">Emmanuel Siziba</a>.</p>
                </div>
                <div class="col-lg-6 col-md-6 text-right">
                    <ul class="footer-bottom-social">
                        <li><a href="#"><i class="mdi mdi-18px mdi-facebook"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-18px mdi-twitter"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-18px mdi-instagram"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-18px mdi-linkedin"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- ============================ Footer End ================================== -->


        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="mdi mdi-18px mdi-arrow-up"></i></a>
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
</div>

<script src="http://financial-paradise.com/js/website.js"></script>

</body>
<!-- body end -->
</html>